# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
mysql-connector-python
Faker
email-validator


# ----------------------
# Production Server
# ----------------------
gunicorn
